// ==============================================================================================================
//                                                  NAVBAR
// ==============================================================================================================

@media (max-width: 990px) {
  .extranet-navbar {
    overflow: hidden;
    transform: translateX(-100%);
    width: 80% !important;
  }
}

@media (min-width: 990px) {
  .extranet-nav-menu {
      display: none;
  }
}

// ==============================================================================================================
//                                                  ALL PAGES
// ==============================================================================================================
@media (max-width: 990px) {
  .app-admin, .app-contact, .app-home, .app-project, .app-skill {
    margin: 0 !important;
  }
}