.extranet-status {
    width: max-content;
    height: max-content;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 8px 2px 8px;
    font-size: 10px;

    &-finish {
        background-color: rgba(0, 164, 0, 0.2);
        border: 1px solid rgb(53, 255, 53);
        color: rgb(53, 255, 53);
    }

    &-progress {
        background-color: rgba(160, 0, 160, 0.2);
        border: 1px solid rgb(255, 128, 255);
        color: rgb(255, 128, 255);
    }

    &-all {
        background-color: rgba(0, 157, 181, 0.2);
        border: 1px solid rgb(34, 211, 238);
        color: rgb(34, 211, 238);
    }
}