.app-card-container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 24%;
  width: 100%;
  height: 80px;
  font-family: Segoe UI, sans-serif;
  font-size: 0.6rem;

  &-content {
    width: 100%;
    height: 300px;
    border: 1px solid gray;
  }

  &-title {
    display: flex;
    flex-direction: column;
  }

  &-subtitle {
    font-size: .82rem;
    color: #9ca3af;
  }
}