.app-about {
    &-container {
        display: flex;
        justify-content: space-around;

        &-profil {
            width: 23%;
            margin-top: 4%;
            &-container {
                display: flex;
                flex-direction: column;

                &-medias {
                    display: flex;
                    justify-content: space-around;

                    &_logo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70px;
                        height: 70px;
                        border: 3px solid rgb(196, 91, 53);
                        background-color: rgb(231, 108, 63);
                        border-radius: 8px;
                        margin-top: 30px;
                        cursor: pointer;
                        transition: transform 300ms ease-in-out
                    }

                    &_logo:hover {
                        
                        transform: translateY(-8px);
                    }
                }

                &_img {
                    width: 100%;
                    height: 300px;
                    transform: rotate(-12deg);

                    img {
                        width: 90%;
                        height: 100%;
                        border-radius: 50%;
                        
                    }
                }
            }
        }

        &-page {
            margin-top: 4%;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            text-align: center;
            width: 50%;

            &_title {
                color: rgb(74, 74, 74);
                margin-left: 10%;
                position: relative;
                padding-bottom: 10px;
                margin-bottom: 10px;
                width: 600px;
            }

            &_subtitle {
                margin-bottom: 30px;
            }

            &_firstparagraphe {
                text-align: left;
                font-size: 20px;
            }

            &_title::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 25%;
                width: 50%;
                height: 1px;
                background-color: rgb(189, 0, 189, 0.4);
            }
        }

        &-part {
            display: flex;
            justify-content: flex-end;
            &_secondparagraphe {
                margin-top: 40px;
                margin-left: 1%;
                width: 75%;
                font-size: 18px;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-style: normal;
            }
        }

        &-skill {
            display: flex;
            justify-content: space-around;
        }
    }
}

@keyframes slice {
    to {
        height: 0;
    }
    from {
        height: 310px;
    }
}