.extranet-tag {
    width: max-content;
    padding: 4px 20px 4px 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(34, 211, 238, 0.4), rgba(168, 85, 247, 0.4));
    border: 1px solid rgba(34, 211, 238, 0.6);
    color: rgb(225, 225, 225);
}