<nav class="navigation">
    <div class="navigation-img">
        <img class="navigation-img-logo_html" src="/html.png" alt="">
        <img class="navigation-img-logo navigation-img-logo_css" src="/css.png" alt="">
        <img class="navigation-img-logo navigation-img-logo_js" src="/js.png" alt="">
    </div>

    <div class="navigation-name">
        <span class="navigation-name_first">L</span>
        <span class="navigation-name_second">u</span>
        <span class="navigation-name_third">c</span>
        <span class="navigation-name_fourth">a</span>
        <span class="navigation-name_fifth">s</span>
        <div class="navigation-name_point"><div class="navigation-name_point_jump">.</div></div>J
    </div>

    <div class="navigation-link">
        <a class="navigation-link_option" [class.selected]="page === ''" routerLink="/" routerLink="">Accueil</a>
        <a class="navigation-link_option" href="">A propos</a>
        <a class="navigation-link_option" href="">Compétences</a>
        <a class="navigation-link_option" href="">Projets</a>
        <a class="navigation-link_option" [class.selected]="page === 'contact'" routerLink="/contact">Contact</a>
        <div class="navigation-link-dossier">
            <button class="navigation-link-dossier_document">
                <extranet-svg-menu />
                Mes documents
            </button>
            <button class="navigation-link-dossier_theme"><extranet-svg-theme /></button>
        </div>
    </div>        
</nav>

<div class="space"></div>