<extranet-navbar page="/" />

<div class="app-home">
    <div class="app-home-header">
        <img class="app-home-header_img" src="profil.jpg" alt="profil">
        <div class="app-home-header-description">
            <h1 class="app-home-header-description-title"><span class="app-home-header-description-title_white">Bonjour, je suis</span> <span class="app-home-header-description-title_degrade"> Lucas JOSEPH</span></h1>
            <h2 class="app-home-header-description_subtitle">Développeur Full Stack passionné par la conception et la réalisation de service web</h2>
            
            <div class="app-home-header-description-btn">
                <button class="app-home-header-description-btn_link"></button>
                <button class="app-home-header-description-btn_link"></button>
                <a routerLink="/contact" class="app-home-header-description-btn_contact">Me contacter</a>
            </div>
        </div>
    </div>

    <div class="app-home-body">
        <div class="app-home-body-card">
            <extranet-card lib="Montpellier, France" title="Localisation"> 
                <extranet-svg-localisation localisation />
            </extranet-card>
            
            <extranet-card lib="5+ années" title="Expérience">
                <extranet-svg-experience experience />
            </extranet-card>
            <extranet-card lib="5+ réalisés" title="Projets">
                <extranet-svg-code project />
            </extranet-card>
        </div>
        <div class="app-home-body-about">
            <div class="app-home-body-about-content">
                <h1 class="app-home-body-about-content_title">À propos de moi</h1>
                <p>Je suis étudiant alternant en développement fullstack, avec un parcours entièrement tourné vers l’informatique.</p>
                <p>J’ai débuté par la maintenance, la configuration et la mise en place de systèmes informatiques et réseaux, avant de m’orienter vers le développement logiciel et web.</p>
                <p>Titulaire d’un BTS en systèmes informatiques et réseaux ainsi que d’une licence en informatique, robotique et prototypage, j’ai progressivement consolidé mes compétences techniques tout en développant une approche rigoureuse et orientée solution.</p>
                <p>Je me spécialise aujourd’hui dans le développement web, en travaillant sur différentes technologies Front-end et Backend tout en ayant une spécialisation en Angular et TypeScript une technologie que j’ai pu consolider durant une année d’alternance au sein du groupe BPCE.</p>
                <p>Mon objectif est de concevoir des applications web modernes, performantes et maintenables, en veillant à la qualité du code et à l’expérience utilisateur.</p>
                <div class="app-home-body-about-content-tag">
                    <extranet-tag lib="Responsif"/>
                    <extranet-tag lib="Créatif"/>
                    <extranet-tag lib="Innovation"/>
                    <extranet-tag lib="Agilité"/>
                    <extranet-tag lib="Performance"/>
                </div>
            </div>
        </div>
    </div>
</div>