@use "../../../var.scss" as var;

.app-card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: var.$border-blue;
    background-color: var.$background-element;
    
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;

        &-svg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgb(34, 211, 238, 0.3);
        }

        &_title {
            color: rgb(43, 43, 43);
        }

        &_text {
            color: var.$color-gray;
        }
    }
}