@use '../../../var.scss' as var;

.extranet-note {
    border: var.$border-blue;
    background-color: var.$background-element;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    
    &-content {
        margin: 20px;

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            &_title {
                color: var.$color-gray;
                font-size: 22px;
                font-weight: normal;
            }

            &_percent {
                color: rgb(0, 221, 255);
            }
        }
        
        &-bar {
            width: 100%;
            height: 8px;
            border-radius: 8px;
            background-color: rgb(64, 64, 64, 0.8);
            overflow: hidden;
        
            &_filling {
                width: 0%;
                height: 100%;
                animation: filling 1s ease-in-out forwards;
            }
        }
    }

    &-blue {
        background: linear-gradient(135deg, rgb(34, 211, 238), rgb(16, 104, 117));
    }
    
    &-purple {
        background: linear-gradient(135deg, rgb(172, 0, 172), rgb(255, 79, 255));
    }

    &-green {
        background: linear-gradient(135deg, rgb(0, 224, 0), rgb(0, 112, 0));
    }

    &-orangered {
        background: linear-gradient(135deg, rgb(255, 130, 84), rgb(157, 42, 0));
    }
    
    &-red {
        background: linear-gradient(135deg, rgb(255, 90, 90), rgb(214, 0, 0));
    }

}

@keyframes filling {
    to {
        width : var(--level);
    }
}