<extranet-navbar page="contact" />

<div class="app-contact">
    <div class="app-contact-container">
        <form class="app-contact-container-content" (submit)="sendEmail($event)">
            <h1 class="app-contact-container-content_title">Formulaire de contact</h1>
        
            <div class="app-contact-container-content-name">
                <div class="app-contact-container-content-name-identity">
                    <label class="app-contact-container-content-name-identity_label" for="name">Prénom</label>
                    <input class="app-contact-container-content-name-identity_input" type="text" name="name" placeholder="Saisir un prénom" required>
                </div>

                <div class="app-contact-container-content-name-identity">
                    <label class="app-contact-container-content-name-identity_label" for="surname">Nom</label>
                    <input class="app-contact-container-content-name-identity_input" type="text" name="surname" placeholder="Saisir un nom" required>
                </div>
            </div>

            <div class="app-contact-container-content-case">
                <div class="app-contact-container-content-case-position">
                    <label class="app-contact-container-content-case-position_label" for="mail">E-mail</label>
                    <input class="app-contact-container-content-case-position_input" type="email" name="mail" placeholder="Saisir un e-mail" required>
                </div>
            </div>

            <div class="app-contact-container-content-case">
                <div class="app-contact-container-content-case-position">
                    <label class="app-contact-container-content-case-position_label" for="objet">Objet</label>
                    <input class="app-contact-container-content-case-position_input" type="text" name="objet" placeholder="Saisir un objet" required>
                </div>
            </div>

            <div class="app-contact-container-content-case">
                <div class="app-contact-container-content-case-position">
                    <label class="app-contact-container-content-case-position_label" for="message">Message</label>
                    <textarea class="app-contact-container-content-case-position_textarea" name="message" required></textarea>
                </div>
            </div>
            <div class="app-contact-container-content-send">
                <input class="app-contact-container-content-send_button" type="submit" value="Envoyer le message" required>
                <p class="app-contact-container-content-send_condition"><input type="checkbox" required> J'accepte que mon e-mail soit stocké pour apporter une réponse future.</p>
            </div>
        </form>
    </div>
</div>