@use "../../../../var.scss" as var;

.extranet-dataProject {
    &-data {
        display: flex;
        flex-direction: column;
        border: var.$border-blue;
        background-color: rgba(116, 116, 116, 0.1);
        border-radius: 12px;
        margin-top: 30px;
        width: 95%;
        height: max-content;

        &-container {
            display: flex;
            flex-direction: column;
            margin: 20px;
            gap: 20px;

            &-multiple {
                display: flex;
                gap: 20px;

                &_element {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }

            &_input, &_area {
                background-color: rgb(0, 0, 0, 0.3);
                border: 1px solid rgb(128, 128, 128, 0.4);
                color: white;
                outline: none;
                border-radius: 8px;
                height: 38px;
                padding-left: 10px;
                            
                &:focus {
                    border-color: rgb(34, 211, 238);
                }
            }

            &_label {
                color: rgb(200, 200, 200);
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 10px;
            }

            &_area {
                height: 80px;
                resize: none;
                padding-top: 10px;
            }

            &-btn {
                display: flex;
                justify-content: flex-end;
                gap: 10px;

                &_cancel, &_create {
                    width: max-content;
                    height: 26px;
                    padding: 0 24px 0 24px;
                    border-radius: 4px;
                    border: none;
                    cursor: pointer;
                }

                &_create {
                    background: linear-gradient(135deg, rgb(34, 211, 238), rgb(0, 112, 218));
                    color: white;
                }
            }
        }
    }
}