@use "../../../var.scss" as var;
@use "../../../styles.scss" as style;
@use "../../media/navbar.media.scss";
@use "../../media/contact.media.scss";

.app-contact {
    margin-left: 7%;
    
    &-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &_title {
            font-size: clamp(1.9rem, 5vw, 3rem);
            margin-bottom: 8px;
            margin-top: 5%;
            background: linear-gradient(135deg, rgb(34, 211, 238), rgb(168, 84, 247));
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        &_subtitle {
            margin: 0;
            font-size: 20px;
            margin-bottom: 40px;
            color: var.$color-gray;
            font-weight: normal;
        }
    }

    &-body {
        display: flex;
        justify-content: center;
        gap: 20px;

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 26px;
            width: 22%;

            &-email {
                height: 120px;
                border-radius: 8px;
                background-color: var.$background-element;
                border: var.$border-blue;

                &-container {
                    margin: 20px;

                    &-head {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 0;

                        &_svg {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            background-color: rgb(34, 211, 238, 0.3);
                        }

                        &_title {
                            margin: 0;
                            font-size: 18px;
                            color: rgb(34, 211, 238, 0.9);
                        }
                    }

                    &_name {
                        color: var.$color-gray;
                    }
                }
            }

            &-link {
                height: max-content;
                border-radius: 8px;
                background-color: var.$background-element;
                border: 1px solid rgba(193, 41, 193, 0.2);
                &-container {
                    margin: 20px;

                    &_title {
                        font-size: 18px;
                        color: rgb(34, 211, 238, 0.9);
                        margin-bottom: 20px;
                    }

                    &-redirect {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        &_network {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            font-size: 18px;
                            gap: 10px;
                            color: var.$color-gray;

                            &:hover {
                                extranet-svg-github {
                                    color: rgb(34, 211, 238);
                                }

                                color: rgb(34, 211, 238);
                            }
                        }
                    }
                }
            }

            &-enable {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25%;
                border-radius: 8px;
                background: linear-gradient(135deg, rgba(0, 108, 125, 0.2), rgb(168, 85, 247, 0.1));
                border: var.$border-blue;

                &_description {
                    margin: 20px;
                    font-size: 14px;
                    color: rgb(200, 200, 200);
                }
            }
        }

        &-form {
            justify-content: center;
            min-width: max-content;
            width: 46%;
            height: max-content;
            border-radius: 8px;
            border: var.$border-blue;
            background-color: var.$background-element;
            
            &-container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 30px;
                gap: 30px;

                &-name {
                    display: flex;
                    gap: 20px;
                    width: 100%;

                    &-field {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }
                }
            }
        }

        &_input, &_area {
            border-radius: 6px;
            padding: 9px;
            border: 1px solid rgba(156, 156, 156, 0.4);
            background-color: rgba(116, 116, 116, 0.1);
            color: white;
            outline: none;

            &:focus {
                border-color: rgb(34, 211, 238);
            }
        }

        &_area {
            height: 100px;
            resize: none;
        }

        &_submit {
            height: 46px;
            border-radius: 4px;
            border: none;
            color: white;
            background: linear-gradient(135deg, rgb(0, 221, 255), rgb(97, 142, 255), rgb(132, 0, 255) 100%);
        }

        &_label {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
            color: rgb(200, 200, 200);
        }
    }
}