<extranet-navbar page="/" />

<div class="app-home">
    <div class="app-home-header">
        <img class="app-home-header_img" src="profil.jpg" alt="profil">
        <div class="app-home-header-description">
            <h1 class="app-home-header-description-title"><span class="app-home-header-description-title_white">Bonjour, je suis</span> <span class="app-home-header-description-title_degrade"> JOSEPH Lucas</span></h1>
            <h2 class="app-home-header-description_subtitle">Développeur Full Stack passionné par la conception et la réalisation de service web</h2>
            
            <div class="app-home-header-description-btn">
                <button class="app-home-header-description-btn_link"></button>
                <button class="app-home-header-description-btn_link"></button>
                <a routerLink="/contact" class="app-home-header-description-btn_contact">Me contacter</a>
            </div>
        </div>
    </div>

    <div class="app-home-body">
        <div class="app-home-body-card">
            <extranet-card lib="Paris, France" title="Localisation"> 
                <extranet-svg-localisation localisation />
            </extranet-card>
            
            <extranet-card lib="5+ années" title="Expérience">
                <extranet-svg-experience experience />
            </extranet-card>
            <extranet-card lib="50+ réalisés" title="Projets">
                <extranet-svg-code project />
            </extranet-card>
        </div>
        <div class="app-home-body-about">
            <div class="app-home-body-about-content">
                <h1 class="app-home-body-about-content_title">À propos de moi</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At molestias porro autem odit, fuga deleniti vitae quas impedit veritatis delectus veniam magnam asperiores, aliquid neque hic unde. Tenetur molestias doloribus nostrum velit. Eaque earum, nostrum illum doloremque sed quas accusantium ut, quae recusandae explicabo vero optio, voluptatibus eum odio tempora!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At molestias porro autem odit, fuga deleniti vitae quas impedit veritatis delectus veniam magnam asperiores, aliquid neque hic unde. Tenetur molestias doloribus nostrum velit. Eaque earum, nostrum illum doloremque sed quas accusantium ut, quae recusandae explicabo vero optio, voluptatibus eum odio tempora!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At molestias porro autem odit, fuga deleniti vitae quas impedit veritatis delectus veniam magnam asperiores, aliquid neque hic unde. Tenetur molestias doloribus nostrum velit. Eaque earum, nostrum illum doloremque sed quas accusantium ut, quae recusandae explicabo vero optio, voluptatibus eum odio tempora!</p>
                
                <div class="app-home-body-about-content-tag">
                    <extranet-tag lib="Responsif"/>
                    <extranet-tag lib="Créatif"/>
                    <extranet-tag lib="Innovation"/>
                    <extranet-tag lib="Agilité"/>
                    <extranet-tag lib="Performance"/>
                </div>
            </div>
        </div>
    </div>
</div>