<extranet-navbar page=""/>

<div class="app-home">
    <div class="app-home-element">
        <div class="app-home-pc">
            <div class="app-home-element-info">
                <img class="app-home-element-info_img" src="git.webp" alt="">
                <p class="app-home-element-info_paragraphe">Voir mes projets</p>
                <button class="app-home-element-info_btn"><extranet-svg-arrow /></button>
            </div>
        </div>
        <div class="app-home-element-enable">
            <h1 class="app-home-element-enable_title">Alternance</h1>
            <div class="app-home-element-enable-active">
                <span class="app-home-element-enable-active_points"></span>
                <span class="app-home-element-enable-active_points"></span>
                <span class="app-home-element-enable-active_points"></span>
                <span class="app-home-element-enable-active_border"></span>
                <span class="app-home-element-enable-active_points"></span>
                <span class="app-home-element-enable-active_points"></span>
                <span class="app-home-element-enable-active_points"></span>
            </div>
            <p class="app-home-element-enable_description">Développeur Angular</p>
        </div>
        <div class="app-home-pc">
            <div class="app-home-element-info">
                <img class="app-home-element-info_img" src="linkedin.png" alt="">
                <p class="app-home-element-info_paragraphe">Voir mon parcour</p>
                <button class="app-home-element-info_btn"><extranet-svg-arrow /></button>
            </div>
        </div>
    </div>

    <div class="app-home-mobile">
        <div class="app-home-element-info">
            <img class="app-home-element-info_img" src="git.webp" alt="">
            <p class="app-home-element-info_paragraphe">Voir mes projets</p>
            <button class="app-home-element-info_btn"><extranet-svg-arrow /></button>
        </div>
        <div class="app-home-element-info">
            <img class="app-home-element-info_img" src="linkedin.png" alt="">
            <p class="app-home-element-info_paragraphe">Voir mon parcour</p>
            <button class="app-home-element-info_btn"><extranet-svg-arrow /></button>
        </div>
    </div>

    <div class="app-home-presentation">
        <h1 class="app-home-presentation_title">Bonjour,</h1>
        <div class="app-home-presentation-container">
            <p class="app-home-presentation-container_objectif">Alternant développeur Angular,
                mon objectif est de monter en compétences en développement web et de proposer des solutions
                efficaces, attractives et professionnelles afin d’optimiser au mieux l’expérience utilisateur.
            </p>
            <div class="app-home-presentation-container-img">
                <extranet-svg-pc img="presentation_ts.png" />
                <extranet-svg-pc img="presentation_2.png" />
            </div>
        </div>
        <p class="app-home-presentation_personel">
            Je suis avant tout passionné par le développement web, j’aime relever les défis, découvrir
            de nouvelles fonctionnalités et m’émerveiller de la création d’un service web.
        </p>

    <div class="app-home-redirect">
        <button class="app-home-redirect-button app-home-redirect-button_project"><extranet-svg-book /> <span class="mobile_phone">Voir mes projets</span></button>
        <button class="app-home-redirect-button app-home-redirect-button_skill"><extranet-svg-code /> <span class="mobile_phone">Voir mes compétences</span></button>
        <a routerLink="/contact">
            <button class="app-home-redirect-button app-home-redirect-button_contact"><extranet-svg-mail /> <span class="mobile_phone">Me contacter</span></button>
        </a>
    </div>

    <!-- <div class="app-home-card">
        <extranet-book />
        <extranet-book />
        <extranet-book />
        <extranet-book />
    </div> -->
</div>