@use "../../../styles.scss" as style;
@use "../../../var.scss" as var;
@use "../../media/navbar.media.scss";

.app-home {
    margin: style.$bodyPage;
    
    &-header {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 60px;

        &_img {
            border-radius: 50%;
        }

        &-description {
            display: flex;
            flex-direction: column;
            flex: 1 1 250px;
            gap: 20px;
            margin-top: 10px;

            &-title {
                margin: 0;
                font-size: clamp(1.9rem, 5vw, 3rem);

                &_white {
                    color: white;
                }

                &_degrade {
                    background: linear-gradient(135deg, rgb(34, 211, 238), rgb(168, 84, 247));
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }

            &_subtitle {
                margin: 0;
                font-weight: normal;
                font-size: clamp(1rem, 1.4rem, 1.8rem);
                color: var.$color-gray;
            }

            &-btn {
                display: flex;
                gap: 14px;

                &_link {
                    width: 36px;
                    height: 36px;
                    border-radius: 8px;
                    border: 0;
                    outline: none;
                    cursor: pointer;
                }

                &_contact {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    width: max-content;
                    border-radius: 8px;
                    padding: 0 22px 0 22px;
                    color: white;
                    background: linear-gradient(135deg, rgb(0, 221, 255), rgb(97, 142, 255), rgb(132, 0, 255) 80%);
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
    }

    &-body {
        margin-top: 80px;
        height: max-content;
        &-card {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: minmax(180px, 1fr);
            gap: 20px;
        }

        &-about {
            width: 100%;
            height: max-content;
            background-color: var.$background-element;
            border: var.$border-blue;
            border-radius: 8px;
            margin-top: 60px;

            &-content {
                margin: 40px;
                color: rgb(207, 207, 207);
                line-height: 24px;

                &_title {
                    color: rgb(0, 221, 255, 0.9);
                    position: relative;
                    width: max-content;
                    margin-bottom: 50px;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -26px;
                        height: 8px;
                        width: 54%;
                        border-radius: 8px;
                        background: linear-gradient(135deg, rgb(34, 211, 238), rgb(168, 84, 247));;
                    }
                }

                &-tag {
                    display: flex;
                    flex-wrap: wrap;
                    height: max-content;
                    width: 60%;
                    gap: 16px;
                    margin-top: 40px;
                }
            }
        }
    }
}