<extranet-navbar page="/project" />

<div class="app-project">
    <h1 class="app-project-title">Mes <span class="app-project-title_text">Projets</span></h1>
    <h2 class="app-project_subtitle">Découvrez mes réalisations et projets personnels</h2>

    <div class="app-project-container-option">
        <button class="app-project-container-option_btn" (click)="selectedOption('all')" [class.app-project-container-option_all]="select == 'all'">Tous</button>
        <button class="app-project-container-option_btn" (click)="selectedOption('finish')" [class.app-project-container-option_finish]="select == 'finish'">Terminés</button>
        <button class="app-project-container-option_btn" (click)="selectedOption('progress')" [class.app-project-container-option_progress]="select == 'progress'">En cours</button>
    </div>

    <div class="app-project-container">
        @for(project of data; track $index) {
            @if($index >= (page*3)-3 && $index <= (page * 3)-1) {
                <extranet-template
                    title="{{project.title}}"
                    status="{{project.status}}"
                    description="{{project.description}}"
                    url="{{project.url}}"
                    technologie="{{project.technologie}}"
                    demo="{{project.demo}}"
                    github="{{project.github}}"
                />
            }
        }
    </div>
    <div class="app-project-page">
        <button class="app-project-page_btn" (click)="previousPage(page-1)"><<</button>
        @if(page === 1) {        
            <button class="app-project-page_btn">{{page}}</button>
            <button class="app-project-page_btn" (click)="nextPage(page+1)">{{page+1}}</button>
            <button class="app-project-page_btn" (click)="nextPage(page+2)">{{page+2}}</button>
        }
        @else {        
            <button class="app-project-page_btn" (click)="nextPage(page-1)">{{page-1}}</button>
            <button class="app-project-page_btn">{{page}}</button>
            <button class="app-project-page_btn" (click)="nextPage(page+1)">{{page+1}}</button>
        }
        <button class="app-project-page_btn" (click)="nextPage(page+1)">>></button>
        
    </div>
</div>