.extranet-tech {
    width: max-content;
    padding: 4px 12px 4px 12px;
    border-radius: 14px;
    font-size: 12px;
    background-color: rgba(0, 157, 181, 0.2);
    border: 1px solid rgb(34, 211, 238);
    color: rgb(34, 211, 238);
}