@use '../../../var.scss' as var;

.extranet-template {
    overflow: hidden;
    gap: 16px;
    border-radius: 8px;
    height: 470px;
    width: 100%;
    border: var.$border-blue;

    &-img {
        width: 100%;
        height: 36%;
        background-color: var.$color-gray;
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 20px;

        &_title {
            color: rgb(34, 211, 238);
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 22px;
        }

        &_description {
            color: var.$color-gray;
            height: 98px;
            margin: .5rem 0 1rem;
            word-break: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-grow: 1;
        }

        &-btn {
            display: flex;
            gap: 12px;
            margin-top: 14px;

            &_redirect {
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                border: none;
                background-color: white;
                color: black;
                text-decoration: none;
                cursor: pointer;
                width: 100%;
                height: 30px;
                border-radius: 6px;
            }
        }
    }
}