<div class="extranet-template">
    <div class="extranet-template-img-wrapper">
        @if(url && url !== '') {
            <img class="extranet-template-img" [src]="url" alt="{{title}}" />
        } @else {
            <div class="extranet-template-img-placeholder">
                <div class="extranet-template-img-placeholder_icon">📁</div>
                <span class="extranet-template-img-placeholder_text">Visuel non disponible</span>
            </div>
        }
        <div class="extranet-template-status">
            <extranet-status [status]="status" />
        </div>
    </div>
    <div class="extranet-template-container">
        <h1 class="extranet-template-container_title">{{title}}</h1>
        <p class="extranet-template-container_description">{{description}}</p>
        <extranet-tech [lib]="technologie" />

        <div class="extranet-template-container-btn">
            @if(demo !== "") {
                <a href="{{demo}}" class="extranet-template-container-btn_redirect">Démo</a>
            }
            
            @if(github != "") {
                <a href="{{github}}" class="extranet-template-container-btn_redirect">Github</a>
            }
        </div>
    </div>
</div>