@media (min-width: 1024px) {
    .app-skill-element-data {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 560px) and (max-width: 1024px) {
    .app-skill-element-data {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}