.extranet-categorie {
    width: max-content;
    height: max-content;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 8px 2px 8px;
    font-size: 10px;
    
    &-front {
        color: rgb(34, 211, 238);
        border: 1px solid rgb(34, 211, 238);
        background-color: rgb(16, 104, 117, 0.5);
    }

    &-back {
        color: rgb(255, 77, 255);
        border: 1px solid rgb(255, 77, 255);
        background-color: rgb(255, 79, 255, 0.2);
    }

    &-dev {
        color: rgb(255, 144, 104);
        border: 1px solid rgb(255, 144, 104);
        background-color: rgb(157, 42, 0, 0.5);
    }

    &-bdd {
        color: rgb(108, 255, 108);
        border: 1px solid rgb(108, 255, 108);
        background-color: rgb(0, 112, 0, 0.5);
    }

    &-other {
        color: rgb(255, 112, 112);
        border: 1px solid rgb(255, 112, 112);
        background-color: rgb(214, 0, 0, 0.5);
    }
}